langchain # LLM integration framework
langchain-community # thrid party integrations
streamlit # Front end
langchain-openai # For embeddings
tiktoken  # For embeddings
pinecone-client # vector database
langchain-pinecone # Langchain integration for vector db
python-dotenv # environment variables
