langchain # LLM integration framework
streamlit # Front end
langchain-openai # For embeddings
tiktoken  # For embeddings
pinecone-client # vector database
langchain-pinecone # Langchain integration for vector db
